<div class="w-40 h-40 bg-blue-200 bg-opacity-80 border border-blue-300 rounded-2xl shadow-md relative">
  <!-- Nom du son -->
  <span class="absolute top-4 left-1/2 transform -translate-x-1/2 font-anonymous text-white">
    {{ sound.name }}
  </span>

  <!-- Boutons horizontaux -->
  <app-horizontal-buttons-layout [sound]="sound" (modifyClicked)="openEditPopup()">
  </app-horizontal-buttons-layout>
</div>

<!-- Popup -->
<div
  *ngIf="isPopupVisible"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white w-96 h-auto rounded-lg shadow-lg p-4 flex flex-col items-center">
    <h2 class="text-xl font-semibold mb-4">Modifier le nom du son</h2>

    <!-- Champ de texte -->
    <input
      type="text"
      [(ngModel)]="editedName"
      placeholder="Entrez le nouveau nom"
      class="w-full p-2 mb-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <!-- Boutons -->
    <div class="flex space-x-4">
      <button
        class="px-4 py-2 bg-green-500 text-white rounded-md shadow-md hover:bg-green-600"
        (click)="saveName()"
      >
        Valider
      </button>
      <button
        class="px-4 py-2 bg-red-500 text-white rounded-md shadow-md hover:bg-red-600"
        (click)="closeEditPopup()"
      >
        Fermer
      </button>
    </div>
  </div>
</div>
