<div class="w-40 h-40 bg-blue-200 bg-opacity-80 border border-blue-300 rounded-2xl shadow-md flex items-center justify-center font-anonymous">
  <button
    class="w-10 h-10 bg-white rounded-full flex items-center justify-center shadow-md font-bold"
    (click)="openPopup()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</div>

<div
  *ngIf="isPopupVisible"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div
    class="bg-white w-96 h-auto rounded-lg shadow-lg p-4 flex flex-col items-center font-anonymous animate-fadeIn"
    [class.animate-fadeOut]="isPopupFadingOut"
  >
    <h2 class="text-xl font-semibold mb-4" *ngIf="!showAudioSpectrum">Ajouter un son</h2>

    <div *ngIf="!showAudioSpectrum">
      <input
        type="text"
        [(ngModel)]="soundName"
        placeholder="Nom du son"
        class="w-full p-2 mb-4 border border-gray-300 rounded-md"
      />

      <input
        type="text"
        [(ngModel)]="youtubeUrl"
        placeholder="URL YouTube"
        class="w-full p-2 mb-4 border border-gray-300 rounded-md"
      />

      <input
        type="file"
        (change)="onFileSelected($event)"
        accept=".mp3,.wav"
        class="w-full"
      />

      <button
        class="px-4 py-2 bg-blue-500 text-white rounded-md shadow-md"
        (click)="addSound()"
      >
        Ajouter
      </button>
    </div>

    <div *ngIf="showAudioSpectrum" class="w-full">
      <app-audio-spectrum
        [audioBlob]="audioBlob"
        (regionChange)="onRegionChange($event)"
      ></app-audio-spectrum>


      <div class="mt-4 flex space-x-4">
        <button
          class="px-4 py-2 bg-green-500 text-white rounded-md"
          (click)="saveTrimmedSound()"
        >
          Enregistrer le trim
        </button>
        <button
          class="px-4 py-2 bg-red-500 text-white rounded-md"
          (click)="closePopup()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
